@model bubuangel.com.Areas.Member.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "修改密码";
}

<div class="row">
    <div class="col-md-3 col-sm-4">@Html.Action("Menu")</div>
    <ol>
        <li>会员中心</li>
        <li>个人中心</li>
        <li>修改密码</li>
    </ol>
    @using (Html.BeginForm())
    { 
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()
        <div class="form-group ">
            @Html.LabelFor(model => Model.OriginalPassword, new { @class = "control-lable col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => Model.OriginalPassword) @Html.ValidationMessageFor(model => Model.OriginalPassword)

            </div>
        </div>      
        <div class="form-group ">
            @Html.LabelFor(model => Model.Password, new { @class = "control-lable col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => Model.Password) @Html.ValidationMessageFor(model => Model.Password)

            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => Model.ConfirmPassword, new { @class = "control-lable col-md-2" })

            <div class="col-md-10">

                @Html.EditorFor(model => Model.ConfirmPassword) @Html.ValidationMessageFor(model => Model.ConfirmPassword)

            </div>
        </div>
        
        
        <div class="from-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="提交" class="btn btn-default" />
            </div>

        </div>
    }
</div>
@section Script{

    @Scripts.Render("~/bundles/jqueryval")
}